<!DOCTYPE html>
<html>
<style type="text/css">
    body{
        margin-top:150px;
        text-align: center;
        background-color: navajowhite;
        color: crimson;
    }
</style>
<body>
     <form action="" method="post">
     {% csrf_token %}
        <label for="username">User name:</label>
        <input type="text" name="username" value="" id="username">
         &nbsp;&nbsp;&nbsp;&nbsp;
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password">
        <input type="submit" value="login" />
     </form>
     <br><br>
     <p><a href="{% url 'change' %}">Forget password</a></p>
</body>
 </html>
